.header__link {
  margin: 0;
  text-align: right;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.header__link:hover {
  opacity: 0.6;
}
