.register {
  max-width: 358px;
  margin: 60px auto;
  padding: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 580px) {
  .register {
    padding: 25px 22px;
  }
}
